.phpinfo {
  width: 800px;

  table {
    width: 800px !important;

    td, th {
      font-size: 100%;
      padding-right: 10px;
      padding-left: 5px;
    }
  }

  .e {
    width: 200px;
  }

  .v {
    word-break: break-all;
  }
}
