{% extends 'admin.twig' %}

{% block content %}
    <h2>Config</h2>

    <div ng-controller="ConfigController">
        <div ng-include="'plugins/PiwikDebugger/angularjs/config/config.html'"></div>
    </div>
{% endblock %}