{% extends 'admin.twig' %}

{% block content %}
    <div ng-controller="SqlBrowserController">
        <div ng-include="'plugins/PiwikDebugger/angularjs/sqlbrowser/sqlbrowser.html'"></div>
    </div>
{% endblock %}